.night-sky {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none; 
    background: linear-gradient(to bottom,
            #3D1C51,
            #602C83,
            #8848B4,
            #7E397C,
            #D7798B);

            @media screen and (max-width: 840px) {
                .night-sky {
                    height: 150%;
                }
            }
}


.star {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #fff;
    animation: twinkle 1s infinite alternate;
}

@keyframes twinkle {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 1200px) {
    .night-sky {
        height: 200%;
    }
}

@media screen and (max-width: 400px) {
    .night-sky {
        height: 250%;
    }
}