<section>
    <button type="button" class="nes-btn" (click)="openDialog()">
        Click me
    </button>
    <dialog class="nes-dialog" #dialogRef>
        <form method="dialog">
            <div class="dialog-header">
                <p class="title">Just Us Two</p>
                <button class="nes-btn dialog-close-btn" onclick="closeDialog()">
                    <i class="nes-icon close"></i>
                </button>
            </div>

            <div class="dialog-content">
                <p>Hey Love, just wanted to drop you a little note in this virtual space. 🌙💖</p>
                <p>Remember the time we went to Rakshi Zoo and walked with alpacas? When your alpaca decided to be a
                    rebel and led you straight to the side of the road to eat on some grass! 🦙😄</p>
                <p>Those moments with you are my favorite, and I can't help but smile when I think about them. Life
                    with
                    you is an adventure, and I'm so grateful to have you by my side. Thank you for being my rock, my
                    confidant, and my greatest supporter. 🚀💑</p>
            </div>
        </form>
    </dialog>
</section>