<night-sky></night-sky>
<div class="container">
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>

    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>

    <div class="item"></div>
    <div class="item moon-text">For My Arisha</div>
    <div class="item"></div>

    <div class="item"></div>
    <div class="item landing-message"><landing-message></landing-message></div>
    <div class="item"></div>

    <div class="item"></div>
    <div class="item"><dialog-message></dialog-message></div>
    <div class="item"></div>

</div>
<router-outlet></router-outlet>