@import url('https://cdn.jsdelivr.net/npm/nes.css/css/nes.min.css');

@font-face {
    font-family: 'MinecraftFont';
    src: url('./assets/font/MinecraftRegular.otf') format('opentype');
}

@media screen and (min-width: 1200px) {
    body {
        overflow: hidden;
    }
}

@media screen and (max-width: 1200px) {
    body {
        overflow: scroll;
    }
    
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
