.container-heart {
    display: flex;
    background: linear-gradient(to bottom right, #5c4d7d, #42335c);
    border-radius: 15px;
    padding: 10px;

    @media screen and (max-width: 840px) {
        flex-direction: column;
    }
}

.item-landing {
    flex: 1;
    display: flex;
    align-items: center;
  &.right {
        width: 50%;
        flex-direction: column;

        @media screen and (max-width: 840px) {
            width: 100%;
        }
    }

    &.left {

        width: 50%;
        flex-direction: column;

        @media screen and (max-width: 840px) {
            width: 100%;
        }
    }
}

.heartbeat {
    width: 60%;
    height: 100%;
    object-fit: contain;
    animation: heartbeat 1s infinite alternate;
}

p {
    text-align: center;
    color: #eee2e2;
  font-family: "MinecraftFont", serif;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}
